mixin storeCard(store = {})
  .store
    .store__hero
      .store__actions
        if user && store.author.equals(user._id)
          .store__action.store__action--edit
            a(href=`/stores/${store._id}/edit`)
              != h.icon('pencil')
      img(src=`/uploads/${store.photo || 'store.png'}`)
      h2.title
        a(href=`/store/${store.slug}`) #{store.name}
    .store__description
      p= store.description.split(' ').slice(0, 25).join(' ')
